/* Bitter Theme: modifies the default theme to use Bitter as the default font. */

@import url("https://fonts.googleapis.com/css?family=Bitter:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --bs-font-sans-serif: "Bitter", sans-serif;
  --bs-link-color: #deb4b4;
  --tf-pill-bg:  #edd8d8;
  --tf-icon-fill: #d17c7c;
  --tf-icon-hover: #b35858;
  --tf-page-bg-color: var(--bs-white);
  --tf-footer-bg-color: #f4e2e2;
  --tf-projects-bg-color: #edd8d8;
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-icon-fill);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-icon-hover);
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-mobile {
    display: inline;
  }
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: #edd8d8;
  border-top: none;
}
